@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@500;700&display=swap");

@font-face {
  font-weight: 700;
  font-family: Open-Sans-Condensed;
  src: url("../assets/fonts/OpenSans_Condensed-Bold.ttf");
}

$--dark: #0e1b1b;
$--w: #fff;
$--y: #ffc94b;

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  color: var(--dark, #0e1b1b);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-use {
  color: #000;
  text-align: center;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  padding: 10px 40px;
  background: $--y;
  margin-top: 50px;
}

html {
  overflow-x: hidden;
}

.slick-next {
  left: -340px;
  margin-left: 187px;
  cursor: pointer;
  position: relative;
  width: 40px;
  top: 398px;
  position: absolute;
  color: $--y;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  animation: slide-in-left 0.3s linear;
  line-height: normal;
  z-index: 100;
}
.slick-next::before {
  content: "";
  position: absolute;
  width: 79px;
  z-index: 100;
  height: 1px;
  background-color: $--y;
  top: 12px;
  left: -90px;
  cursor: default;
}
.slick-prev {
  left: -350px;
  z-index: 100;
  margin-left: 148px;
  margin-top: 32px;
  position: relative;
  width: 38px;
  top: 440px;
  font-size: 0;
  animation: slide-in-left 0.3s linear;
  cursor: pointer;
  position: absolute;
}
.slick-prev::after {
  content: "Prev";
  color: $--y;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.slick-prev::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 1px;
  background-color: $--y;
  top: 12px;
  cursor: default;
  left: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: $--dark;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icons {
      padding-left: 142px;
      display: flex;
      gap: 35px;
      align-items: center;
      div {
        cursor: pointer;
      }
    }
    .title {
      color: $--w;
      margin-right: 142px;
      font-family: Open-Sans-Condensed;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      position: relative;
      line-height: normal;
      margin-left: 62px;
    }
    .title::before {
      content: "";
      background-color: $--y;
      width: 355px;
      right: 92px;
      height: 1px;
      top: 21px;
      position: absolute;
    }
    .burger {
      cursor: pointer;
      padding-right: 62px;
    }
  }
}

.number1 {
  font-family: Open Sans;
  font-size: 120px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.10000000149011612;
  position: absolute;
  top: -20px;
  left: -200px;
  z-index: 100;
}

.bg22 {
  margin-top: -120px;
  animation: slide-in-left 0.3s linear;
}
.slick-list {
  animation: slide-in-right 0.3s linear;
}
.home__body-use {
  animation: slide-in-left 0.3s linear;
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.image1 {
  .slick-next {
    left: 698px;
    margin-left: 187px;
    cursor: pointer;
    position: relative;
    width: 40px;
    top: 392px;
    position: absolute;
    color: $--dark;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 100;
  }
  .slick-next::before {
    content: "";
    position: absolute;
    width: 79px;
    z-index: 100;
    height: 1px;
    background-color: $--dark;
    top: 12px;
    left: -90px;
    cursor: default;
  }
  .slick-prev {
    left: 697px;
    z-index: 100;
    margin-left: 148px;
    margin-top: 32px;
    position: relative;
    width: 38px;
    top: 416px;
    font-size: 0;
    cursor: pointer;
    position: absolute;
  }
  .slick-prev::after {
    content: "Prev";
    color: $--dark;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .slick-prev::before {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    background-color: $--dark;
    top: 12px;
    cursor: default;
    left: 50px;
  }
}

.home {
  background-color: $--dark;
  width: 100vw;
  height: 634px;
  &__body {
    position: relative;
    &-use {
      z-index: 1;
      pointer-events: none;
      position: absolute;
      padding-top: 154px;
      .title {
        user-select: none;
        color: $--w;
        pointer-events: none;
        padding-left: 135px;
        z-index: 1;
        font-family: Playfair Display;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .buttons {
        margin-top: 83px;
        color: $--y;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        .slick-next {
          margin-left: 187px;
          cursor: pointer;
          position: relative;
          width: 40px;
        }
        .slick-next::before {
          content: "";
          position: absolute;
          width: 79px;
          height: 1px;
          background-color: $--y;
          top: 12px;
          left: -90px;
          cursor: default;
        }
        .slick-prev {
          margin-left: 148px;
          margin-top: 32px;
          position: relative;
          width: 38px;
          cursor: pointer;
        }
        .slick-prev::before {
          content: "";
          position: absolute;
          width: 79px;
          height: 1px;
          background-color: $--y;
          top: 12px;
          cursor: default;
          left: 50px;
        }
      }
    }
    .image {
      z-index: 0;
      top: 0;
      right: 62px;
      position: absolute;
      .images {
        display: flex;
        max-width: 1043px;
      }
      .number {
        padding-right: 25px;
        position: absolute;
        bottom: 0;
        right: 0;
        color: #c4c4c4;
        pointer-events: none;
        user-select: none;
        color: $--w;
        opacity: 0.20000000298023224;
        font-family: Open Sans;
        font-size: 180px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -26.1px;
      }
    }
  }
}
.about {
  position: relative;
  background-color: #070f0f;
  width: 80%;
  height: 656px;
  padding-left: 230px;
  .about__body {
    padding-top: 164px;
    position: relative;
    .title {
      top: 255px;
      font-family: Playfair Display;
      font-size: 60px;
      font-style: normal;
      color: $--w;
      left: 436px;
      font-weight: 400;
      line-height: normal;
      position: absolute;
    }
    .title::before {
      content: "";
      top: 39px;
      right: -326px;
      width: 305px;
      height: 3px;
      background-color: $--y;
      position: absolute;
    }
    .about-use {
      position: absolute;
      top: 360px;
      left: 605px;
      .desc-use {
        color: #c4c4c4;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 600px;
        a {
          color: $--y;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .title-use {
        color: #6b6b6b;
        font-family: Playfair Display;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 650px;
        margin-top: 29px;
      }
    }
  }
}

.works {
  margin-top: 204px;
  &__body {
    .top {
      .title {
        display: flex;
        align-items: center;
        .text {
          font-family: Playfair Display;
          font-size: 60px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $--dark;
        }
        .line {
          margin-left: 15px;
          margin-right: 20px;
          width: 305px;
          height: 3px;
          background-color: $--dark;
        }
      }
      .desc {
        margin-left: 135px;
        max-width: 1171px;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $--dark;
        margin-top: 26px;
      }
    }
    .bottom {
      gap: 33px;
      margin-top: 77px;
      padding-left: 30px;
      padding-right: 86px;
      display: flex;
      justify-content: space-between;
      .images-works {
        flex-shrink: 0;
        position: relative;
        .number {
          padding-left: 134px;
          font-family: Open Sans;
          font-size: 120px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          opacity: 0.10000000149011612;
          min-height: 164px;
        }
        .image1 {
          position: absolute;
          width: 570px;
          height: 385px;
          top: 0;
          left: 305px;
        }
        .image2 {
          position: absolute;
          width: 405px;
          overflow: hidden;
          height: 319px;
        }
        .button-use {
          margin-top: 275px;
          margin-left: 446px;
        }
      }
      .use {
        padding-top: 75px;
        max-width: 416px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          font-family: Playfair Display;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .desc {
          margin-top: 33px;
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .buttons {
          margin-top: 132px;
          color: $--dark;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          .next {
            margin-left: 187px;
            cursor: pointer;
            position: relative;
            width: 40px;
          }
          .next::before {
            content: "";
            position: absolute;
            width: 79px;
            height: 1px;
            background-color: $--dark;
            top: 12px;
            left: -90px;
            cursor: default;
          }
          .prev {
            margin-left: 148px;
            margin-top: 32px;
            position: relative;
            width: 38px;
            cursor: pointer;
          }
          .prev::before {
            content: "";
            position: absolute;
            width: 79px;
            height: 1px;
            background-color: $--dark;
            top: 12px;
            cursor: default;
            left: 50px;
          }
        }
      }
    }
  }
}

.why {
  margin-top: 153px;
  .container {
    display: flex;
    justify-content: end;
  }
  .why__body {
    padding: 35px;
    background-color: $--dark;
    color: $--w;
    margin-right: 100px;
    position: relative;
    width: 100%;
    height: 367px;
    max-width: 1040px;
    .title {
      display: flex;
      align-items: center;
      .text {
        font-family: Playfair Display;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $--w;
      }
      .line {
        margin-right: 20px;
        width: 305px;
        height: 3px;
        background-color: $--w;
      }
    }
    .desc-use {
      color: #c4c4c4;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-top: 23px;
      line-height: normal;
      margin-left: 200px;
      max-width: 600px;
      a {
        color: $--y;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .lipe {
      position: absolute;
      background-color: $--y;
      padding: 110px 40px;
      max-width: 370px;
      left: -200px;
      text-align: center;
      text-align: center;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #000;
      bottom: -142px;
    }
    .tikets {
      display: flex;
      position: absolute;
      gap: 30px;
      bottom: -85px;
      left: 235px;
      .tiket {
        display: flex;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 35px;
        padding-bottom: 46px;
        flex-direction: column;
        align-items: center;
        background: $--w;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
        .title {
          color: $--dark;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-top: 14px;
        }
      }
    }
  }
}

.blogs {
  margin-top: 268px;
  .blogs__body {
    background-color: $--dark;
    padding-top: 46px;
    padding-bottom: 319px;
    max-width: 1236px;
    position: relative;
    .title {
      display: flex;
      align-items: center;
      .text {
        font-family: Playfair Display;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $--w;
      }
      .line {
        margin-right: 20px;
        width: 305px;
        height: 3px;
        background-color: $--w;
      }
    }
    .items {
      position: absolute;
      display: flex;
      gap: 30px;
      top: 188px;
      left: 135px;
      .item {
        position: relative;
        .bg {
          background-image: url(/assets/blogs/image1.png);
          width: 370px;
          height: 408px;
        }
        .bg2 {
          background-image: url(/assets/blogs/image2.png);
        }
        .bg3 {
          background-image: url(/assets/blogs/image3.png);
        }
        .title {
          position: absolute;
          background-color: $--dark;
          padding: 17px;
          color: $--w;
          text-align: center;
          font-family: Playfair Display;
          font-size: 24px;
          font-style: normal;
          max-width: 336px;
          left: 17px;
          font-weight: 400;
          bottom: -40px;
          line-height: normal;
        }
        .tag {
          position: absolute;
          top: 24px;
          left: 17px;
          color: #000;
          font-family: Open Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          background-color: $--y;
          padding: 4px 14px;
        }
      }
    }
  }
}

.clients {
  margin-top: 285px;
  margin-bottom: 120px;
  .clients__body {
    display: flex;
    padding-left: 110px;
    gap: 70px;
    align-items: center;
    .title {
      display: flex;
      margin-left: -11px;
      align-items: center;
      .text {
        font-family: Playfair Display;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $--dark;
      }
      .line {
        margin-left: 15px;
        width: 305px;
        height: 3px;
        background-color: $--dark;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__body {
      .icons {
        padding-left: 10px;
        gap: 10px;
      }
      .title {
        margin-right: 0px;
        margin-left: 0px;
      }
      .title::before {
        display: none;
      }
      .burger {
        width: 43px;
        padding-right: 10px;
      }
    }
  }
  .home {
    height: 222px;
    .image {
      right: 0px;
      .number {
        padding-right: 10px;
        letter-spacing: normal;
        font-size: 40px;
        bottom: auto;
      }
      .images {
        opacity: 0.5;
        .slick-list {
          padding: 0 83px;
        }
        .slick-track {
          .slick-slide {
            width: 100vw;
          }
        }
      }
    }
    .home__body-use {
      width: 100%;
      padding-top: 45px;
      .title {
        padding-left: 0px;
        font-size: 45px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .about {
    width: 100%;
    height: 522px;
    padding-left: 0px;
    .bg22 {
      margin-top: -65px;
      display: none;
    }
    .about__body {
      padding-top: 100px;
      .about-use {
        width: 100%;
        left: 0;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 170px;
        .desc-use {
          text-align: center;
          font-size: 14px;
          color: $--w;
        }
        .title-use {
          font-size: 22px;
          text-align: center;
          margin-top: 12px;
          color: $--w;
        }
        .button-use {
          margin-top: 26px;
        }
      }
      .title {
        left: 0;
        padding: 0 10px;
        top: 80px;
        text-align: center;
        width: 100%;
      }
    }
  }
  .title {
    .line {
      display: none;
    }
    .text {
      font-size: 45px;
      text-align: center;
      width: 100%;
    }
  }
  .works {
    margin-top: 100px;
    .works__body {
      .bottom {
        margin-top: 75px;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        .button-use {
          display: none;
        }
        .images-works {
          .number {
            display: none;
          }
        }
        .image1 {
          display: none;
        }
        .image2 {
          width: 100%;
        }
        .use {
          width: 100%;
          max-width: none;
          padding-top: 307px;
          .title {
            font-size: 40px;
          }
          .desc {
            margin-top: 20px;
            font-size: 14px;
            text-align: center;
          }
        }
      }
      .top {
        .desc {
          margin-left: 10px;
          margin-right: 10px;
          text-align: center;
        }
        .title .text {
          font-size: 45px;
        }
      }
    }
  }
  .why {
    margin-top: 100px;
    padding: 0 10px;
    .why__body {
      margin-right: 0px;
      .desc-use {
        display: none;
      }
      .lipe {
        bottom: 0px;
        font-size: 14px;
        left: 0px;
        padding: 40px 40px;
        width: 100%;
        max-width: none;
      }
      .tikets {
        flex-direction: column;
        width: 100%;
        left: 0;
        bottom: -591px;
      }
    }
  }
  .blogs {
    margin-top: 630px;
    .blogs__body {
      .title {
        .text {
          font-size: 45px;
        }
      }
      .items {
        flex-direction: column;
        gap: 55px;
        left: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -150px;
        position: relative;
        align-items: center;

        .item {
          max-width: calc(100vw - 20px);
          .bg {
            max-width: calc(100vw - 20px);
          }
          .title {
            font-size: 19px;
            left: 0px;
          }
        }
      }
    }
  }
  .clients {
    display: none;
  }
}
@media (max-width: 364px) {
  .works .works__body .bottom .use {
    padding-top: 228px;
  }
}

@media (min-width: 390px) {
  .blogs .blogs__body .items .item .title {
    font-size: 19px;
    left: 17px;
  }
}
