@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@500;700&display=swap");
@font-face {
  font-weight: 700;
  font-family: Open-Sans-Condensed;
  src: url("../assets/fonts/OpenSans_Condensed-Bold.ttf");
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  color: var(--dark, #0e1b1b);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-use {
  color: #000;
  text-align: center;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  padding: 10px 40px;
  background: #ffc94b;
  margin-top: 50px;
}

html {
  overflow-x: hidden;
}

.slick-next {
  left: -340px;
  margin-left: 187px;
  cursor: pointer;
  position: relative;
  width: 40px;
  top: 398px;
  position: absolute;
  color: #ffc94b;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  animation: slide-in-left 0.3s linear;
  line-height: normal;
  z-index: 100;
}

.slick-next::before {
  content: "";
  position: absolute;
  width: 79px;
  z-index: 100;
  height: 1px;
  background-color: #ffc94b;
  top: 12px;
  left: -90px;
  cursor: default;
}

.slick-prev {
  left: -350px;
  z-index: 100;
  margin-left: 148px;
  margin-top: 32px;
  position: relative;
  width: 38px;
  top: 440px;
  font-size: 0;
  animation: slide-in-left 0.3s linear;
  cursor: pointer;
  position: absolute;
}

.slick-prev::after {
  content: "Prev";
  color: #ffc94b;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slick-prev::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 1px;
  background-color: #ffc94b;
  top: 12px;
  cursor: default;
  left: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: #0e1b1b;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__body .icons {
  padding-left: 142px;
  display: flex;
  gap: 35px;
  align-items: center;
}
.header__body .icons div {
  cursor: pointer;
}
.header__body .title {
  color: #fff;
  margin-right: 142px;
  font-family: Open-Sans-Condensed;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  position: relative;
  line-height: normal;
  margin-left: 62px;
}
.header__body .title::before {
  content: "";
  background-color: #ffc94b;
  width: 355px;
  right: 92px;
  height: 1px;
  top: 21px;
  position: absolute;
}
.header__body .burger {
  cursor: pointer;
  padding-right: 62px;
}

.number1 {
  font-family: Open Sans;
  font-size: 120px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.1000000015;
  position: absolute;
  top: -20px;
  left: -200px;
  z-index: 100;
}

.bg22 {
  margin-top: -120px;
  animation: slide-in-left 0.3s linear;
}

.slick-list {
  animation: slide-in-right 0.3s linear;
}

.home__body-use {
  animation: slide-in-left 0.3s linear;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.image1 .slick-next {
  left: 698px;
  margin-left: 187px;
  cursor: pointer;
  position: relative;
  width: 40px;
  top: 392px;
  position: absolute;
  color: #0e1b1b;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 100;
}
.image1 .slick-next::before {
  content: "";
  position: absolute;
  width: 79px;
  z-index: 100;
  height: 1px;
  background-color: #0e1b1b;
  top: 12px;
  left: -90px;
  cursor: default;
}
.image1 .slick-prev {
  left: 697px;
  z-index: 100;
  margin-left: 148px;
  margin-top: 32px;
  position: relative;
  width: 38px;
  top: 416px;
  font-size: 0;
  cursor: pointer;
  position: absolute;
}
.image1 .slick-prev::after {
  content: "Prev";
  color: #0e1b1b;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.image1 .slick-prev::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 1px;
  background-color: #0e1b1b;
  top: 12px;
  cursor: default;
  left: 50px;
}

.home {
  background-color: #0e1b1b;
  width: 100vw;
  height: 634px;
}
.home__body {
  position: relative;
}
.home__body-use {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  padding-top: 154px;
}
.home__body-use .title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
  pointer-events: none;
  padding-left: 135px;
  z-index: 1;
  font-family: Playfair Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__body-use .buttons {
  margin-top: 83px;
  color: #ffc94b;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home__body-use .buttons .slick-next {
  margin-left: 187px;
  cursor: pointer;
  position: relative;
  width: 40px;
}
.home__body-use .buttons .slick-next::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 1px;
  background-color: #ffc94b;
  top: 12px;
  left: -90px;
  cursor: default;
}
.home__body-use .buttons .slick-prev {
  margin-left: 148px;
  margin-top: 32px;
  position: relative;
  width: 38px;
  cursor: pointer;
}
.home__body-use .buttons .slick-prev::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 1px;
  background-color: #ffc94b;
  top: 12px;
  cursor: default;
  left: 50px;
}
.home__body .image {
  z-index: 0;
  top: 0;
  right: 62px;
  position: absolute;
}
.home__body .image .images {
  display: flex;
  max-width: 1043px;
}
.home__body .image .number {
  padding-right: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #c4c4c4;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
  opacity: 0.200000003;
  font-family: Open Sans;
  font-size: 180px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -26.1px;
}

.about {
  position: relative;
  background-color: #070f0f;
  width: 80%;
  height: 656px;
  padding-left: 230px;
}
.about .about__body {
  padding-top: 164px;
  position: relative;
}
.about .about__body .title {
  top: 255px;
  font-family: Playfair Display;
  font-size: 60px;
  font-style: normal;
  color: #fff;
  left: 436px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}
.about .about__body .title::before {
  content: "";
  top: 39px;
  right: -326px;
  width: 305px;
  height: 3px;
  background-color: #ffc94b;
  position: absolute;
}
.about .about__body .about-use {
  position: absolute;
  top: 360px;
  left: 605px;
}
.about .about__body .about-use .desc-use {
  color: #c4c4c4;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 600px;
}
.about .about__body .about-use .desc-use a {
  color: #ffc94b;
  text-decoration: underline;
  cursor: pointer;
}
.about .about__body .about-use .title-use {
  color: #6b6b6b;
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 650px;
  margin-top: 29px;
}

.works {
  margin-top: 204px;
}
.works__body .top .title {
  display: flex;
  align-items: center;
}
.works__body .top .title .text {
  font-family: Playfair Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #0e1b1b;
}
.works__body .top .title .line {
  margin-left: 15px;
  margin-right: 20px;
  width: 305px;
  height: 3px;
  background-color: #0e1b1b;
}
.works__body .top .desc {
  margin-left: 135px;
  max-width: 1171px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #0e1b1b;
  margin-top: 26px;
}
.works__body .bottom {
  gap: 33px;
  margin-top: 77px;
  padding-left: 30px;
  padding-right: 86px;
  display: flex;
  justify-content: space-between;
}
.works__body .bottom .images-works {
  flex-shrink: 0;
  position: relative;
}
.works__body .bottom .images-works .number {
  padding-left: 134px;
  font-family: Open Sans;
  font-size: 120px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.1000000015;
  min-height: 164px;
}
.works__body .bottom .images-works .image1 {
  position: absolute;
  width: 570px;
  height: 385px;
  top: 0;
  left: 305px;
}
.works__body .bottom .images-works .image2 {
  position: absolute;
  width: 405px;
  overflow: hidden;
  height: 319px;
}
.works__body .bottom .images-works .button-use {
  margin-top: 275px;
  margin-left: 446px;
}
.works__body .bottom .use {
  padding-top: 75px;
  max-width: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works__body .bottom .use .title {
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.works__body .bottom .use .desc {
  margin-top: 33px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.works__body .bottom .use .buttons {
  margin-top: 132px;
  color: #0e1b1b;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.works__body .bottom .use .buttons .next {
  margin-left: 187px;
  cursor: pointer;
  position: relative;
  width: 40px;
}
.works__body .bottom .use .buttons .next::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 1px;
  background-color: #0e1b1b;
  top: 12px;
  left: -90px;
  cursor: default;
}
.works__body .bottom .use .buttons .prev {
  margin-left: 148px;
  margin-top: 32px;
  position: relative;
  width: 38px;
  cursor: pointer;
}
.works__body .bottom .use .buttons .prev::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 1px;
  background-color: #0e1b1b;
  top: 12px;
  cursor: default;
  left: 50px;
}

.why {
  margin-top: 153px;
}
.why .container {
  display: flex;
  justify-content: end;
}
.why .why__body {
  padding: 35px;
  background-color: #0e1b1b;
  color: #fff;
  margin-right: 100px;
  position: relative;
  width: 100%;
  height: 367px;
  max-width: 1040px;
}
.why .why__body .title {
  display: flex;
  align-items: center;
}
.why .why__body .title .text {
  font-family: Playfair Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.why .why__body .title .line {
  margin-right: 20px;
  width: 305px;
  height: 3px;
  background-color: #fff;
}
.why .why__body .desc-use {
  color: #c4c4c4;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 23px;
  line-height: normal;
  margin-left: 200px;
  max-width: 600px;
}
.why .why__body .desc-use a {
  color: #ffc94b;
  text-decoration: underline;
  cursor: pointer;
}
.why .why__body .lipe {
  position: absolute;
  background-color: #ffc94b;
  padding: 110px 40px;
  max-width: 370px;
  left: -200px;
  text-align: center;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  bottom: -142px;
}
.why .why__body .tikets {
  display: flex;
  position: absolute;
  gap: 30px;
  bottom: -85px;
  left: 235px;
}
.why .why__body .tikets .tiket {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 35px;
  padding-bottom: 46px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.why .why__body .tikets .tiket .title {
  color: #0e1b1b;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 14px;
}

.blogs {
  margin-top: 268px;
}
.blogs .blogs__body {
  background-color: #0e1b1b;
  padding-top: 46px;
  padding-bottom: 319px;
  max-width: 1236px;
  position: relative;
}
.blogs .blogs__body .title {
  display: flex;
  align-items: center;
}
.blogs .blogs__body .title .text {
  font-family: Playfair Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.blogs .blogs__body .title .line {
  margin-right: 20px;
  width: 305px;
  height: 3px;
  background-color: #fff;
}
.blogs .blogs__body .items {
  position: absolute;
  display: flex;
  gap: 30px;
  top: 188px;
  left: 135px;
}
.blogs .blogs__body .items .item {
  position: relative;
}
.blogs .blogs__body .items .item .bg {
  background-image: url(/assets/blogs/image1.png);
  width: 370px;
  height: 408px;
}
.blogs .blogs__body .items .item .bg2 {
  background-image: url(/assets/blogs/image2.png);
}
.blogs .blogs__body .items .item .bg3 {
  background-image: url(/assets/blogs/image3.png);
}
.blogs .blogs__body .items .item .title {
  position: absolute;
  background-color: #0e1b1b;
  padding: 17px;
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  max-width: 336px;
  left: 17px;
  font-weight: 400;
  bottom: -40px;
  line-height: normal;
}
.blogs .blogs__body .items .item .tag {
  position: absolute;
  top: 24px;
  left: 17px;
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #ffc94b;
  padding: 4px 14px;
}

.clients {
  margin-top: 285px;
  margin-bottom: 120px;
}
.clients .clients__body {
  display: flex;
  padding-left: 110px;
  gap: 70px;
  align-items: center;
}
.clients .clients__body .title {
  display: flex;
  margin-left: -11px;
  align-items: center;
}
.clients .clients__body .title .text {
  font-family: Playfair Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #0e1b1b;
}
.clients .clients__body .title .line {
  margin-left: 15px;
  width: 305px;
  height: 3px;
  background-color: #0e1b1b;
}

@media (max-width: 480px) {
  .header__body .icons {
    padding-left: 10px;
    gap: 10px;
  }
  .header__body .title {
    margin-right: 0px;
    margin-left: 0px;
  }
  .header__body .title::before {
    display: none;
  }
  .header__body .burger {
    width: 43px;
    padding-right: 10px;
  }
  .home {
    height: 222px;
  }
  .home .image {
    right: 0px;
  }
  .home .image .number {
    padding-right: 10px;
    letter-spacing: normal;
    font-size: 40px;
    bottom: auto;
  }
  .home .image .images {
    opacity: 0.5;
  }
  .home .image .images .slick-list {
    padding: 0 83px;
  }
  .home .image .images .slick-track .slick-slide {
    width: 100vw;
  }
  .home .home__body-use {
    width: 100%;
    padding-top: 45px;
  }
  .home .home__body-use .title {
    padding-left: 0px;
    font-size: 45px;
    width: 100%;
    text-align: center;
  }
  .about {
    width: 100%;
    height: 522px;
    padding-left: 0px;
  }
  .about .bg22 {
    margin-top: -65px;
    display: none;
  }
  .about .about__body {
    padding-top: 100px;
  }
  .about .about__body .about-use {
    width: 100%;
    left: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 170px;
  }
  .about .about__body .about-use .desc-use {
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
  .about .about__body .about-use .title-use {
    font-size: 22px;
    text-align: center;
    margin-top: 12px;
    color: #fff;
  }
  .about .about__body .about-use .button-use {
    margin-top: 26px;
  }
  .about .about__body .title {
    left: 0;
    padding: 0 10px;
    top: 80px;
    text-align: center;
    width: 100%;
  }
  .title .line {
    display: none;
  }
  .title .text {
    font-size: 45px;
    text-align: center;
    width: 100%;
  }
  .works {
    margin-top: 100px;
  }
  .works .works__body .bottom {
    margin-top: 75px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .works .works__body .bottom .button-use {
    display: none;
  }
  .works .works__body .bottom .images-works .number {
    display: none;
  }
  .works .works__body .bottom .image1 {
    display: none;
  }
  .works .works__body .bottom .image2 {
    width: 100%;
  }
  .works .works__body .bottom .use {
    width: 100%;
    max-width: none;
    padding-top: 307px;
  }
  .works .works__body .bottom .use .title {
    font-size: 40px;
  }
  .works .works__body .bottom .use .desc {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  .works .works__body .top .desc {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .works .works__body .top .title .text {
    font-size: 45px;
  }
  .why {
    margin-top: 100px;
    padding: 0 10px;
  }
  .why .why__body {
    margin-right: 0px;
  }
  .why .why__body .desc-use {
    display: none;
  }
  .why .why__body .lipe {
    bottom: 0px;
    font-size: 14px;
    left: 0px;
    padding: 40px 40px;
    width: 100%;
    max-width: none;
  }
  .why .why__body .tikets {
    flex-direction: column;
    width: 100%;
    left: 0;
    bottom: -591px;
  }
  .blogs {
    margin-top: 630px;
  }
  .blogs .blogs__body .title .text {
    font-size: 45px;
  }
  .blogs .blogs__body .items {
    flex-direction: column;
    gap: 55px;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -150px;
    position: relative;
    align-items: center;
  }
  .blogs .blogs__body .items .item {
    max-width: calc(100vw - 20px);
  }
  .blogs .blogs__body .items .item .bg {
    max-width: calc(100vw - 20px);
  }
  .blogs .blogs__body .items .item .title {
    font-size: 19px;
    left: 0px;
  }
  .clients {
    display: none;
  }
}
@media (max-width: 364px) {
  .works .works__body .bottom .use {
    padding-top: 228px;
  }
}
@media (min-width: 390px) {
  .blogs .blogs__body .items .item .title {
    font-size: 19px;
    left: 17px;
  }
}/*# sourceMappingURL=style.css.map */